# Task: MOVIE GENRE CLASSIFICATION
    Create a machine learning model that can predict the genre of a
    movie based on its plot summary or other textual information. You
    can use techniques like TF-IDF or word embeddings with classifiers
    such as Naive Bayes, Logistic Regression, or Support Vector
    Machines

## Methodologies

###    1. Data Collection
###    2. Data Cleaning and Preprocessing
###    3. Data Visualization
###    4. Feature Engineering
###    5. Model Selection
###    6. Model Training and Evaluation

## Data Collection: Data was collected from https://www.kaggle.com/code/dhruvtibarewal/movie-genre-classification

## Data Cleaning and Preprocessing

In [12]:
# libraries
import pandas as pd

In [21]:
train_data = pd.read_csv("C:/Users/susha/Downloads/archive (7)/Genre Classification Dataset/train_data.txt", delimiter=':::', names = ['Sno', 'Name', 'Genre', 'Description'] ,engine='python', index_col = "Sno")
test_data = pd.read_csv("C:/Users/susha/Downloads/archive (7)/Genre Classification Dataset/test_data.txt", delimiter = ':::', names = ['Sno', 'Name', 'Description'], engine='python', index_col = 'Sno')
test_data_solution = pd.read_csv("C:/Users/susha/Downloads/archive (7)/Genre Classification Dataset/test_data_solution.txt", delimiter=':::', names = ['Sno', 'Name', 'Genre', 'Description'] ,engine='python', index_col = "Sno")

In [24]:
train_data.head()
test_data.head()
test_data_solution.head()

,Name,Genre,Description
Sno,,,
1,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apar..."
2,La guerra de papá (1977),comedy,"Spain, March 1964: Quico is a very naughty ch..."
3,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family ...
4,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with hi..."
5,Er nu zhai (1955),drama,Before he was known internationally as a mart...

#### Looking for null values

In [40]:
#looking for null values

train_data.info()
print('\n')
test_data.info()
print('\n')
test_data_solution.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54214 entries, 1 to 54214
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         54214 non-null  object
 1   Genre        54214 non-null  object
 2   Description  54214 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB


<class 'pandas.core.frame.DataFrame'>
Int64Index: 54200 entries, 1 to 54200
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         54200 non-null  object
 1   Description  54200 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB


<class 'pandas.core.frame.DataFrame'>
Int64Index: 54200 entries, 1 to 54200
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         54200 non-null  object
 1   Genre        54200 non-null  object
 2   Description  54200 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB

In [42]:
train_data.isna().sum()

test_data.isna().sum()

test_data_solution.isna().sum()

Name           0
Genre          0
Description    0
dtype: int64

#### Looking for duplicates

In [45]:
train_data.duplicated().sum()
test_data.duplicated().sum()
test_data_solution.duplicated().sum()

0

#### Data Cleaning is done.